

.card {
    border: 0px;
}
.navigation__checkbox {
    display: none;
}


.navigation__button {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    height: 2.7rem;
    width: 2.7rem;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    z-index: 300;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.navigation__background {
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #000000a1;
    background-size: cover;
    background-position: center;
    z-index: 100;
    transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
}
.bg1 {
    background-color: #222224;
}
.bg2 {
    background-color: #171719;
}
.bg3 {
    background-color: #000000;
}
.navb {
    height: 1000rem;
}
.navcard {
    background-color: rgba(0, 0, 0, 0) !important;
    width: 90rem;
}


.navigation__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 0;
    width: 0;
    visibility: hidden;
    z-index: 200;
    transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    list-style: none;
}

.navigation__item {
    margin: 0;
}

.navigation__link:link,
.navigation__link:visited {
    /* height: 100%; */
    color: #f4f4f4 !important;
    font-size: 2.4rem;
    text-decoration: none;
    transition: all .2s;
    width: 40%;
    padding-left: 35px;
    padding-top: 28%;
    font-family: 'Outfit', sans-serif;
}

@media(min-width: 768px) {
    .navigation__link:link,
    .navigation__link:visited {
        font-size: 3.8rem;

    }
}

.navigation__link:hover {
    color: #acacac;
    transform: scale(1.1);
}

.navigation__checkbox:checked~.navigation__background {
    transform: scale(80);
}

.navigation__checkbox:checked~.navigation__nav {
    width: 100%;
    visibility: visible;
    opacity: 1;
}

.navigation__icon {
    position: relative;
    margin-top: 1.3rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    display: inline-block;
    width: 1.3rem;
    height: 2px;
    background-color: #63636d;

}

.navigation__icon::before,
.navigation__icon::after {
    content: '';
    position: absolute;
    left: 0 !important;
    transition: all 200ms;
}

.navigation__icon::before {
    top: -.3rem !important;
}

.navigation__icon::after {
    top: .3rem;
}




.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0 !important;
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

@media (max-width: 767px) {
  
    nav.navigation__nav {
        max-height: 100%;
    }
    div.container-fluid {
        height: 100vh;
    }
    div.row.flex-nowrap.navb {
        height: 100%;
    }
    .navigation__item {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        /* height: 100vh !important; */
        object-fit: cover;
        border-radius: 0;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        overflow: auto;
    }
    .navigation__link {
        width: 100%;
        padding-top: 25rem ;
    }
    .nav-card {
        height: 100%;
    }
    div.container-fluid {
        padding: 0;
    }
    div.row.flex-nowrap.navb {
        display: flex;
        flex-wrap: wrap !important;
        flex-direction: row;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        overflow: auto;
        margin: 0px;
        }
    .navb {
        margin: 0px;
    }
}
@media (max-width: 575px) {
    div.row.flex-nowrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        overflow: auto;
    }
   .container-fluid {
       padding-left: 0;
       padding-right: 0;
   }
   .row {
       margin-right: 0;
       margin-left: 0;
   }
    nav.navigation__nav {
        max-height: 100%;
    }
    
    div.row.flex-nowrap.navb {
        height: 100%;
    }
    .navigation__item {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        height: 19rem;
        object-fit: cover;
        border-radius: 0;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        overflow: hidden;
    }
    .navigation__link:link {
        width: 100%;
        padding-top: 10rem;
    }
    .nav-card {
        height: 100%;
        
    }
}
