.card {
    border: 0px !important;
}
.navigation__checkbox {
    display: none !important;
}

.navigation__button {
    position: fixed !important;
    top: 1.5rem !important;
    right: 1.5rem !important;
    height: 2.7rem !important;
    width: 2.7rem !important;
    text-align: center !important;
    background-color: #fff !important;
    border-radius: 50% !important;
    z-index: 300 !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2) !important;
    cursor: pointer !important;
}

@media screen  and (min-width: 768px) {
    .navigation__button {
        top: 4rem !important;
        right: 4rem !important;
        height: 2.7rem !important;
        width: 2.7rem !important;
    }
}

.navigation__background {
    position: fixed !important;
    top: 2rem !important;
    right: 2rem !important;
    height: 2rem !important;
    width: 2rem !important;
    border-radius: 50% !important;
    background: #000000a1 !important;
    background-size: cover !important;
    background-position: center !important;
    z-index: 100 !important;
    transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1) !important;
}
.bg1 {
    background-color: #222224 !important;
}
.bg2 {
    background-color: #171719 !important;
}
.bg3 {
    background-color: #000000 !important;
}
.navb {
    height: 1000rem !important;
}
.navcard {
    background-color: rgba(0, 0, 0, 0) !important;
    width: 90rem !important;
}
@media screen and (min-width: 768px) {
    .navigation__background {
        top: 4.1rem !important;
        right: 4.1rem !important;
        height: 2.5rem !important;
        width: 2.5rem !important;
    }
}

.navigation__nav {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    height: 100vh !important;
    opacity: 0 !important;
    width: 0 !important;
    visibility: hidden !important;
    z-index: 200 !important;
    transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
}

.navigation__list {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    text-align: center !important;
    width: 100% !important;
    list-style: none !important;
}

.navigation__item {
    margin: 0 !important;
}

.navigation__link:link,
.navigation__link:visited {
    /* height: 100%; */
    color: #f4f4f4 !important;
    font-size: 2.4rem !important;
    text-decoration: none !important;
    transition: all .2s !important;
    width: 27% !important;
    padding-left: 35px !important;
    padding-top: 28% !important;
    font-family: 'Outfit', sans-serif !important;
}

@media(min-width: 768px) {
    .navigation__link:link,
    .navigation__link:visited {
        font-size: 3.8rem !important;

    }
}

.navigation__link:hover {
    color: #acacac;
    transform: scale(1.1) !important;
}

.navigation__checkbox:checked~.navigation__background {
    transform: scale(80) !important
}

.navigation__checkbox:checked~.navigation__nav {
    width: 100% !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.navigation__icon {

    position: relative !important;
    margin-top: 1.5rem !important;
}

@media screen and (min-width: 768px) {
    .navigation__icon {
        margin-top: 1.4rem !important;
    }
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    display: inline-block !important;
    width: 2.2rem !important;
    height: 2px !important;
}

@media (min-width: 768px) {
    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
        width: 1.3rem !important;
    }
}

.navigation__icon::before,
.navigation__icon::after {
    content: '';
    position: absolute !important;
    left: 0 !important;
    transition: all 200ms !important;
}

.navigation__icon::before {
    top: -.4rem !important;
}

.navigation__icon::after {
    top: .4rem !important;
}

.navigation__button:hover .navigation__icon::before {
    top: -.5rem !important;
}

.navigation__button:hover .navigation__icon::after {
    top: .5rem !important;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent !important;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0 !important;
    transform: rotate(135deg) !important;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0 !important;
    transform: rotate(-135deg) !important;
}

@media (max-width: 767px) {
  
    nav.navigation__nav {
        max-height: 100%;
    }
    div.container-fluid {
        height: 100vh;
    }
    div.row.flex-nowrap.navb {
        height: 100%;
    }
    .navigation__item {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        /* height: 100vh !important; */
        object-fit: cover;
        border-radius: 0;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        overflow: auto;
    }
    .navigation__link {
        width: 100%;
        padding-top: 25rem ;
    }
    .nav-card {
        height: 100%;
    }
    div.container-fluid {
        padding: 0;
    }
    div.row.flex-nowrap.navb {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        border-radius: 0 !important;
        max-width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        overflow: auto !important;
        margin: 0px;
        }
    .navb {
        margin: 0px;
    }
}
@media (max-width: 575px) {
    div.row.flex-nowrap {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        border-radius: 0 !important;
        max-width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        overflow: auto !important;
    }
   .container-fluid {
       padding-left: 0 !important;
       padding-right: 0 !important;
   }
   .row {
       margin-right: 0 !important;
       margin-left: 0 !important;
   }
    nav.navigation__nav {
        max-height: 100% !important;
    }
    
    div.row.flex-nowrap.navb {
        height: 100% !important;
    }
    .navigation__item {
        display: flex !important;
        flex-wrap: nowrap !important;
        flex-direction: row !important;
        width: 100% !important;
        height: 21rem !important;
        object-fit: cover !important;
        border-radius: 0 !important;
        max-width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        overflow: auto !important;
    }
    .navigation__link:link {
        width: 100% !important;
        padding-top: 10rem !important;
    }
    .nav-card {
        height: 100% !important;
        
    }
}
